.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.1rem;
}

.page-item {
    margin: 0 0rem;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.7rem 0.95rem;
    margin-left: -1px;
    line-height: 1.25;
    font-size: 20px;
    color: #007bff;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    text-decoration: none;
    border-radius: 0.25rem;
    cursor: pointer;
    user-select: none;
}

.page-link:hover {
    color: #0056b3;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-link:focus {
    z-index: 3;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #ffffff49;
    border-color: #dee2e6b7;
}
