.pagination {
    display: flex;    
}

.page-item {
    margin: 0 0.13rem;
}

.page-link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px; /* 设置宽度 */
    height: px; /* 设置高度，使其为正方形 */
    border-radius: 50%; /* 使其为圆形 */
    font-size: 22px;
    color: #858585;
    font-weight: bold;
    border: none;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

.page-link:hover {
    color: #0056b3;
    background-color: #d5dde4;
    border-color: #dee2e6;
}

.page-link:focus {
    z-index: 3;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #0061bc62;
    border-color: #007bff;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #ffffff49;
}
