
.text {
    user-select: none;
    color:#707070;
}

.drop_box{
    height: 0;
    opacity: 0;
    width: 230px;
    background-color: rgb(244, 244, 244);
    position:absolute;
    top: 70px;
    right:5px;
    border: 3px solid rgba(197, 197, 197, 0.352);
    
    border-radius: 15px;
    box-shadow: -1px 15px 30px -10px rgba(0, 0, 0, 0.362);
    overflow: hidden; 
    transition: .3s;
}

.drop_box.show {
    opacity: 100%;
    height: 425px; /* 显示时的高度 */
}

.drop_item {
    display: flex;
    align-content: center;
    justify-self: start;
    padding: 10px;
    margin: 5px 0;
    background-color: rgb(244, 244, 244);
    transition: .3s;
}

.drop_title {
    display: flex;
    align-content: center;
    justify-self: start;
    padding: 10px;
    margin: 5px 0;
    background-color: rgb(244, 244, 244);
    transition: .3s;
}

.drop_sub_title {
    display: flex;
    align-content: center;
    justify-self: start;
    padding: 0px 0px 5px 0px;
    margin: 5px 0;
    background-color: rgb(244, 244, 244);
    transition: .3s;
}

.drop_item:hover{
    background-color: rgba(225, 231, 245, 0.586);
}

.drop_item:active{
    background-color: rgba(201, 210, 230, 0.79);
}

.drop_item_img {
    display: inline-block; /* 让链接显示为块级元素，这样就可以设置宽度和高度 */
    width: 46px; /* 设置链接的宽度 */
    height: 46px; /* 设置链接的高度 */
    border-radius: 50%; /* 将链接的边框半径设置为宽度或高度的一半，使其呈圆形 */
    transition: .3s;
}

/* 隐藏原始的checkbox */
.switch input {
    display: none;
  }
  
  /* 定义Switch按钮的样式 */
  .switch-label {
    display: block;
    width: 40px; /* 按钮的宽度 */
    height: 20px; /* 按钮的高度 */
    background-color: #ccc; /* 默认背景颜色 */
    border-radius: 20px; /* 圆角 */
    position: relative;
    cursor: pointer;
  }
  
  /* 定义Switch按钮的滑块样式 */
  .switch-label::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2px; /* 滑块的初始位置 */
    width: 25px; /* 滑块的宽度 */
    height: 25px; /* 滑块的高度 */
    background-color: #fff; /* 滑块颜色 */
    border-radius: 50%; /* 滑块为圆形 */
    transition: left 0.5s; /* 添加过渡效果 */
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3); /* 添加阴影 */
  }

/* 定义Switch按钮的滑块样式 */
.switch-input:hover + .switch-label::after {
    box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.3); /* 添加阴影 */
}

.switch-input:active + .switch-label::after {
    width: 26px;
    height: 25px;
}
  
/* 当checkbox选中时，改变Switch按钮的背景颜色 */
.switch input:checked + .switch-label {
    background-color: #a27dca; /* 选中时的背景颜色 */
}

/* 当checkbox选中时，将滑块移到右侧 */
.switch input:checked + .switch-label::after {
    left: calc(100% - 28px); /* 滑块到右侧的距离 */
}
  
