
.container_box {
    position: relative;
    transition: .3s;
}

.background_img {
    height: 400px;
    width: 100%;
    align-items: center;
    transition: .3s;
    overflow: hidden;
}

.card_box {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 250px;
    width: 100%;
    height: 800px;
    transition: .3s;
}

.card_box_inner {
    width: 90%;
    height: 800px;
    border-radius: 25px;
    border: 2px solid rgba(188, 188, 188, 0.959);
    background-color: rgba(243, 243, 243, 0.952);
    box-shadow: -1px 15px 30px -10px rgba(0, 0, 0, 0.748);
    transition: .3s;
}


.profile_avatar {
    position: absolute;
    top: -100px;
    left: 250px;
    height: 260px;
    width: 260px;
    border: 3px solid white;
    border-radius: 130px;
    overflow: hidden;
    user-select: none;
    box-shadow: -1px 15px 30px -15px rgba(0, 0, 0, 0.474);
}

.username {
    position: absolute;
    top: 0px;
    left: 550px;
    font-size: 40px;
    font-weight: bolder;
}