
.container_box {
    position: relative;
    transition: .3s;
}

.background_img {
    height: 380px;
    width: 100%;
    align-items: center;
    transition: .3s;
    overflow: hidden;
}

.card_box {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 240px;
    width: 100%;
    height: 800px;
    transition: .3s;
}

.card_box_inner {
    width: 96%;
    height: 800px;
    border-radius: 25px;
    border: 2px solid rgba(188, 188, 188, 0.959);
    background-color: rgba(243, 243, 243, 0.971);
    box-shadow: -1px 15px 30px -10px rgba(0, 0, 0, 0.748);
    transition: .3s;
}

.user_info {
    display: flex;
    position: absolute;
    top: -70px;
    left: 120px;
}

.profile_avatar {
    height: 200px;
    width: 200px;
    border: 3px solid white;
    border-radius: 130px;
    overflow: hidden;
    user-select: none;
    box-shadow: -1px 15px 30px -15px rgba(0, 0, 0, 0.474);
}

.username {
    font-size: 40px;
    font-weight: bolder;
}

.email {
    color: gray;
    font-size: 20px;
    font-weight: bold;
}

.text2 {
    font-size: 20px;
    color: rgb(94, 94, 94);
    font-weight: 500;
}

.text3 {
    font-size: 20px;
    color: rgb(94, 94, 94);
    font-weight: bold;
}

/* App.css */
.custom-button {
    display: inline-block;
    padding: 12px 30px;
    color: white;
    background-color: #b595cc; /* 紫色背景 */
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px; /* 使按钮稍微有点圆角，但仍然保持方形外观 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 添加阴影 */
    transition: all 0.3s ease; /* 添加过渡效果 */
    user-select: none;
  }
  
  .custom-button:hover {
    background-color: #7c35ab; /* 悬浮时的背景颜色 */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* 悬浮时加深阴影 */
  }
  
  .custom-button:active {
    background-color: #52008a; /* 按下时的背景颜色 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 按下时的阴影效果 */
    transform: translateY(2px); /* 按下时的轻微位移效果 */
  }

  .nav_title {
    user-select: none;
    padding: 0px 22px;
    font-size: 23px;
    color: rgb(94, 94, 94);
    font-weight: bold;
    align-self:flex-end;
  }
  
  #button_box {
    position: absolute;
    top:150px;
    left: 100px;
  }