
.chat-container {
    justify-content: center;
    align-items: center;
    grid-template-columns: 100%;
    height: 100vh;
    opacity: 95%;
    margin-left: 21%;
    margin-right: 1.5rem;
    border-radius: 2rem;
    box-shadow: 0 8px 20px rgba(35,0,77,.2);
}


.chat-input-box {
    margin: 8px;
    width: 78%;
    height: 73%;
    background-color: #E5EBEE;
    border-radius: 22px;
}

.chat-input {
    margin: 8px;
    width: 85%;
    outline: none;
    height: 58%;
    background-color: #E5EBEE;
    border: none;
}

.chat-button {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* 将链接的边框半径设置为宽度或高度的一半，使其呈圆形 */
    transition: .3s;
}

.chat-button:hover{
    background-color: #d8d8d8c9;
}

.chat-user-card {
    transition: .3s;
    padding: 10px;
    display: flex;
    height: 62px;
}

.chat-user-card:hover {
    background-color: antiquewhite;
}

.chat-user-card-avatar {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    user-select: none;
}

.chat-user-card-name {
    user-select: none;
    font-size: 18px;
}

.chat-top-name {
    margin-left:20px;
    font-weight: bold;
    font-size: 20px;
    color: #333;
}

.chat-content-box {
    width: 90%;
    height: 99%;
}

.chat-scrollspy {
    width: 100%;
}

.chat-message-bubble {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    height: 45px;
    border-radius: 15px;
    background-color: #cbd4da3d;
}

.chat-message-send-bubble {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    height: 45px;
    border-radius: 15px;
    background-color: #86b7d83d;
}

.chat-user-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    user-select: none;
}
